.ToolPicker {
  background: #fff;
  border-radius: 1.6rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
}
.ToolPicker > input[type="range"] {
  display: none;
}

.ToolPicker_StrokeWidthOptions {
  align-items: center;
  display: flex;
}

.ToolPicker_StrokeWidthOptions > * + * {
  margin-left: 1.6rem;
}

.ToolPicker_StrokeWidthOption {
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  display: flex;
  height: 7.2rem;
  justify-content: center;
  transition: box-shadow ease-out 0.25s;
  width: 7.2rem;
}
.ToolPicker_StrokeWidthOption__inner {
  background: #000;
  border-radius: 100%;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.ToolPicker_StrokeWidthOption--selected {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* .ToolPicker_StrokeWidthOption--xxxs .ToolPicker_StrokeWidthOption__inner {
  height: 1.6rem;
  width: 1.6rem;
}
.ToolPicker_StrokeWidthOption--dm .ToolPicker_StrokeWidthOption__inner {
  height: 2.4rem;
  width: 2.4rem;
}
.ToolPicker_StrokeWidthOption--md .ToolPicker_StrokeWidthOption__inner {
  height: 3.2rem;
  width: 3.2rem;
}
.ToolPicker_StrokeWidthOption--lg .ToolPicker_StrokeWidthOption__inner {
  height: 4rem;
  width: 4rem;
}
.ToolPicker_StrokeWidthOption--xxlg .ToolPicker_StrokeWidthOption__inner {
  height: 4.8rem;
  width: 4.8rem;
} */
